<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks </h1>
    <a>Contract № <%= @cont_id %>  is opened by  user.<a> 
    <p>Thanks for joining and have a great day! Now sign in and do
awesome things!</p>
  </body>
</html>
