@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";

$lightGray: #999;
$grayMediumLight: #eaeaea;
$redlighten2: #e57373;
$reddarken4: #b71c1c;
$cyandarken1: #00acc1;
$cyandarken2: #0097a7;
$cyandarken3: #00838f;
$cyandarken4: #006064;
$cyanaccent4: #00b8d4;
$teallighten3: #80cbc4;
$tealaccent4: #00bfa5;
$lightblueaccent4: #0091ea;
$redaccent4: #d50000;
$redlighten3: #ef9a9a;
$redlighten4: #ffcdd2;
$superbiriuza: #C0F2F7;


.table-hover thead tr:hover th, .table-hover tbody tr:hover td {
background-color: $superbiriuza;
}

#broni {
color: $reddarken4;
background-color: $redlighten4;
}

#bbroni {
color: $reddarken4;
background-color: $redlighten2;
}

#contract {
color: $cyanaccent4;
background-color: $superbiriuza;
}

#ccontract {
color: $cyandarken4;
background-color: $teallighten3;
}

#rezerv {
color: $teallighten3;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */
/*
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $lightGray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
} */

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* cbody */
cbody {
  padding-top: 100px;
  margin-top: 45px;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightGray;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}