<footer class="footer">
  <small>
    <a href="https://success.md/">SUCCESS</a>
    by <a href="https://fast.md/">FAST</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Условия",   'https://success.md/usloviya-arendy-avtomobilej-v-kishineve' %></li>
      <li><%= link_to "Контакты", 'https://success.md/o-nas-success-divesgroup' %></li>
      <li><a href="https://success.md/">Новости</a></li>
    </ul>
  </nav>
</footer>